    <!-- /templates/customers/login.liquid -->
<section class="section-customer section-full">
    <div class="container">
        <div class="form-content">
            <div id="login-cont" class="membership-cont form-active">
                <h1>Sign in</h1>
                
                    {% form 'customer_login' %}
                
                    {{ form.errors | default_errors }}
                    <div class="form-layout">
                        <label for="customer_email">Email</label>
                        <input placeholder="Enter your email address" class="input" type="email" name="customer[email]" />
                    
                        <label for="customer_password">Password</label>
                        <input placeholder="Enter your password" class="input" type="password" name="customer[password]" />
    
                        <span class="password-forgot" id="btn-recover">Forgot password?</span>
                        <input class="button btn-primary is-small is-fullwidth submit" type="submit" value="Sign In" />
                        <div class="text-layout">
                            <span class="dont-have-account">Don’t have an account? <a href="{{ routes.account_register_url }}">Sign up</a></span>
                        </div>
                    </div>
                
                    {% endform %}
            </div>
{% comment %} recover-pass {% endcomment %}
            <div id="recover-cont" class=" membership-cont ">
                <div class="membership-head">
                    <h1 class="txt-500 fs-20 uppercase">Password Recovery</h1>
                    <span class="txt-400 fs-14 cl-black-50">Enter the email you use for Myscripts</span>
                </div>
                <div class="membership-form ">
                    {% form 'recover_customer_password' %}

                    {{ form.errors | default_errors }}
                    
                    <div class="form-layout">
                        <label for="customer_email">Email</label>
                        <input placeholder="Enter your email address" class="input" type="email" name="customer[email]" required />
                        <input type="submit" value="Continue" class="button btn-primary is-small is-fullwidth submit"/>
                        <div class="text-layout">
                            <span class="dont-have-account">
                            Back to 
                            <a href="{{ routes.account_login_url }}">Sign up</a>
                            </span>
                        </div>
                    </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ 'membership.js' |  asset_url }}"></script>