<div class="container">
    <div class="begin-content">
        <div class="begin-content_text">
            <span class="begin-content_text_bedge">
                {% if section.settings.heading != blank %}
                    {{ section.settings.heading }}
                {% else %}
                    How it works
                {% endif %}
                </span>
            <h1 class="begin-content_text_title">
                {% if section.settings.title != blank %}
                    {{ section.settings.title }}
                {% else %}
                    Begin your weight loss journey
                {% endif %}
            </h1>
        </div>

        <div class="begin-content_info-card">
            {% assign collections_to_show = "weight-loss,anti-aging,peptides" | split: "," %}
        
            {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            
            {% if collection %}
                <div class="begin_info-items">
                {% assign product = collection.products.first %}
                
                <div class="begin_bedge">{{ product.type }}</div>
                    <img class="begin-card_image" src="{{ product.featured_image.src | img_url: 'medium' }}" 
                        alt="{{ product.featured_image.alt | escape }}" width="250" height="250">
                    <h2>{{ product.title }}</h2>
                    <p>Starting {{ product.price | money }}/mo</p>
                    <div class="begin_button-wrapper">
                        <button class="button btn-black is-small is-fullwidth">Get Started</button>
                        <a class="button btn-outline is-small is-fullwidth" 
                        href="{{ product.url | within: collection }}">Learn more</a>
                </div>

                </div>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>

{% schema %}
{
    "name": "How it works Home Section",
    "tag": "section",
    "class": "begin section-full",
    "settings": [
        {
            "type": "text",
            "label": "Section Heading",
            "id": "heading",
            "default": "How it works"
        },
        {
            "type": "text",
            "label": "Main Title",
            "id": "title",
            "default": "Begin your weight loss journey"
        }
    ]
}
{% endschema %}
