<div id="category" class="container">
    <div class="category-tab-content">
        <div class="category-tab_head">
            <button class="tab-btn active" id="Weightloss" data-tab="Weightloss tab1">Weight loss</button>
            <button class="tab-btn" id="AntiAging"  data-tab="AntiAging tab2">Anti-Aging</button>
            <button class="tab-btn" id="Peptides" data-tab="Peptides tab3">Peptides</button>
            <button class="tab-btn" id="Supplements" data-tab="Supplements tab4">Supplements</button>
        </div>
        <div class="category-tab_body">
            <div class="tab-content active" id="Weightloss tab1">
                <h2 class="tab-content-title"> 
                    Transform Your Body, Sustainably and Safely
                </h2>
                <div class="tab-content-card">

                    <div class="begin_info-items">
                        <div class="begin_bedge">Cellular Renewal</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>NAD+ Injection</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Rapid Rejuvenation</div>
                        <img class="begin-card_image" src="{{ 'pippet-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>NAD+ Nasal Spray</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>
                                        
                    <div class="begin_info-items">
                        <div class="begin_bedge">Cellular Detox</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Glutathione Injection</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Instant Detox</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Glutathione Nasal Spray</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Boost Energy</div>
                        <img class="begin-card_image" src="{{ 'pippet-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Methylcobalamin Injection</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>
                                        
                    <div class="begin_info-items">
                        <div class="begin_bedge">Youth Restore</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Sermorelin</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content" id="AntiAging tab2">
                <h2 class="tab-content-title"> 
                    Reverse the Signs of Aging with Proven Care
                </h2>
                <div class="tab-content-card">

                    <div class="begin_info-items">
                        <div class="begin_bedge">Instant Detox</div>
                        <img class="begin-card_image" src="{{ 'pippet-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Glutathione Nasal Spray</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Boost Energy</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Methylcobalamin Injection</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Youth Restore</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Sermorelin</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>
                                        
                    <div class="begin_info-items">
                        <div class="begin_bedge">Longevity Support</div>
                        <img class="begin-card_image" src="{{ 'tirzepatide-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Metformin</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content" id="Peptides tab3">
                <h2 class="tab-content-title"> 
                    Boost Health with Peptides
                </h2>
                <div class="tab-content-card">

                    <div class="begin_info-items">
                        <div class="begin_bedge">Youth Restore</div>
                        <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>Sermorelin Injection</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Heal Quicker</div>
                        <img class="begin-card_image" src="{{ 'tirzepatide-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>BPC-157</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content" id="Supplements tab4">
                <h2 class="tab-content-title"> 
                    Supplements, backed by science
                </h2>
                <div class="tab-content-card">

                    <div class="begin_info-items">
                        <div class="begin_bedge">Heal Quicker</div>
                        <img class="begin-card_image" src="{{ 'tirzepatide-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>BPC-157</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                    <div class="begin_info-items">
                        <div class="begin_bedge">Weight Support</div>
                        <img class="begin-card_image" src="{{ 'tirzepatide-small.png' | asset_url }}" alt="Icon" width="250" height="250">
                        <h2>GLP-1 Boost</h2>
                        <p>Starting $265/mo</p>
                        <div class="begin_button-wrapper">
                            <button class="button btn-black is-small is-fullwidth">
                                Get Started
                            </button>
                            <a href="/pages/product-detail" class="button btn-outline is-small is-fullwidth">
                            Learn more
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
    "name": "category tab Section",
    "tag": "section",
    "class": "category-tab section-full"
}
{% endschema %}