{% assign footer_menu = linklists.footer %}
{% assign links = footer_menu.links %}
{% assign total = links.size %}
{% assign group_size = total | divided_by: 2 | ceil %}

<div class="container">
    <div class="footer_layout-menu">
        <div class="footer-menu-list">
            <div class="footer_brand">
                {% if section.settings.logo_brand %}
                <img class="logo-brand" src="{{ section.settings.logo_brand | image_url: width: 150 }}" alt="Logo Brand" width="150" height="30">
            {% else %}
                <img class="logo-brand" src="{{ 'Logo-myscripts.svg' | asset_url }}" alt="Logo Brand" width="150" height="30">
            {% endif %}
            </div>
        </div>
        <div class="footer-menus_wrapper">
        <div class="footer-menu-list">
            {% for group_index in (0..2) %}
            <ul class="list-footer">
                {% assign start = group_index | times: group_size %}
                {% assign sliced_links = links | slice: start, group_size %}
                {% for link in sliced_links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        
    </div>

    </div>
    <div class="footer_layout-allright">
        <div class="footer_payment">
            {% assign icon_blocks = section.blocks | where: "type", "payment_icon" %}
            {% if icon_blocks.size > 0 %}
                {% for block in icon_blocks %}
                <div class="payment_icon">
                    <img
                    class="begin-card_image"
                    src="{% if block.settings.icon != blank %}
                                {{ block.settings.icon | image_url: width: 38 }}
                            {% else %}
                                {{ 'visa-icon.png' | asset_url }}
                            {% endif %}"
                    alt="{{ block.settings.alt_text | default: 'Icon payment' }}"
                    width="38"
                    height="24">
                </div>
                {% endfor %}
            {% else %}
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'visa-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'master-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'o-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'pp-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'dicover-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
            <div class="payment_icon">
                <img class="begin-card_image" src="{{ 'AE-icon.png' | asset_url }}" alt="Icon" width="38" height="24">
            </div>
        </div>
    {% endif %}
        <div class="footer-allright">
            <p>{{ section.settings.copyright_text }}</p>
        </div>
    </div>
    <div class="img-oranament">
        {% if section.settings.logo_brand %}
            <img class="logo-brand" src="{{ section.settings.ornament_text | image_url: width: 1442 }}" alt="Logo Brand" width="100%" height="118">
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="1442" height="118" viewBox="0 0 1442 118" fill="none">
            <path d="M476.049 72.5861C482.669 74.544 488.66 77.1705 494.12 80.4655L494.072 80.4178C499.532 83.7128 503.977 88.0584 507.36 93.4546C510.79 98.8508 512.482 105.68 512.482 113.893C512.482 115.281 512.42 116.65 512.296 118H475.878C475.927 117.515 475.952 117.022 475.952 116.52C475.952 112.365 474.309 109.022 470.975 106.539C467.641 104.056 463.244 102.05 457.784 100.474C452.324 98.8986 446.284 97.4182 439.713 95.9856C433.141 94.6007 426.521 92.8338 419.95 90.7326C413.33 88.6315 407.339 85.9572 401.879 82.6622C396.418 79.3672 391.973 75.0216 388.591 69.6254C385.16 64.2292 383.469 57.3526 383.469 48.9479C383.469 39.9701 385.933 31.7564 390.862 24.3545C395.79 16.9527 403.231 11.0789 413.137 6.63781C423.042 2.19668 435.509 0 450.488 0C460.49 0 470.299 1.1461 480.011 3.48604C489.675 5.82599 498.227 9.31203 505.669 13.9442L494.314 41.546C486.872 37.3436 479.479 34.2396 472.038 32.234C464.645 30.2283 457.349 29.2255 450.246 29.2255C443.143 29.2255 437.297 30.085 432.755 31.7087C428.213 33.3801 424.975 35.4812 422.994 38.1077C421.013 40.6864 420.047 43.7427 420.047 47.181C420.047 51.2401 421.689 54.4873 425.024 56.9705C428.358 59.4538 432.755 61.4594 438.215 62.9398C443.675 64.4202 449.715 65.9483 456.286 67.4287C462.858 68.9091 469.477 70.6282 476.049 72.5861Z" fill="white" fill-opacity="0.16"/>
            <path d="M394.248 118C393.758 117.67 393.273 117.336 392.795 116.997L392.337 118H394.248Z" fill="white" fill-opacity="0.16"/>
            <path d="M305.834 118V104.344L367.06 2.39121H331.301L289.127 72.4535L247.097 2.39121H208.417L269.404 103.96V118H305.834Z" fill="white" fill-opacity="0.16"/>
            <path d="M179.457 118L179.139 2.39121H148.963L90.4471 100.411L30.9169 2.39121H0.5V118H35.0208V67.5621L65.8735 118H113.447L144.908 65.5L145.015 118H179.457Z" fill="white" fill-opacity="0.16"/>
            <path d="M1441.32 118C1441.44 116.65 1441.5 115.281 1441.5 113.893C1441.5 105.68 1439.82 98.8508 1436.42 93.4546L1436.47 93.5024C1433.12 88.1062 1428.72 83.7606 1423.31 80.4655C1417.9 77.1705 1411.96 74.544 1405.4 72.5861C1398.89 70.6282 1392.33 68.9091 1385.82 67.4287C1379.3 65.9483 1373.32 64.4202 1367.91 62.9398C1362.5 61.4594 1358.14 59.4538 1354.84 56.9705C1351.53 54.4873 1349.91 51.2401 1349.91 47.181C1349.91 43.7427 1350.86 40.6864 1352.83 38.1077C1354.79 35.4812 1358 33.3801 1362.5 31.7087C1367 30.085 1372.79 29.2255 1379.83 29.2255C1386.87 29.2255 1394.1 30.2283 1401.42 32.234C1408.8 34.2396 1416.12 37.3436 1423.5 41.546L1434.75 13.9442C1427.38 9.31203 1418.9 5.82599 1409.32 3.48604C1399.7 1.1461 1389.98 0 1380.07 0C1365.23 0 1352.87 2.19668 1343.06 6.63781C1333.24 11.0789 1325.87 16.9527 1320.99 24.3545C1316.1 31.7564 1313.66 39.9701 1313.66 48.9479C1313.66 57.3526 1315.34 64.2292 1318.74 69.6254C1322.09 75.0216 1326.49 79.3672 1331.9 82.6622C1337.31 85.9572 1343.25 88.6315 1349.81 90.7326C1356.32 92.8338 1362.88 94.6007 1369.39 95.9856C1375.9 97.4182 1381.89 98.8986 1387.3 100.474C1392.71 102.05 1397.07 104.056 1400.37 106.539C1403.67 109.022 1405.3 112.365 1405.3 116.52C1405.3 117.022 1405.28 117.515 1405.23 118H1441.32Z" fill="white" fill-opacity="0.16"/>
            <path d="M1324.34 118C1323.86 117.67 1323.38 117.336 1322.9 116.997L1322.45 118H1324.34Z" fill="white" fill-opacity="0.16"/>
            <path d="M1239.32 118V32.1713H1290.07V2.39121H1151.86V32.1713H1202.6V118H1239.32Z" fill="white" fill-opacity="0.16"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1033.39 118V116.716H1065.21C1079.36 116.716 1091.5 114.414 1101.77 109.858C1112 105.255 1119.91 98.6849 1125.48 90.1489C1131.05 81.565 1133.83 71.4465 1133.83 59.6975C1133.83 47.9485 1131.05 37.5902 1125.48 29.0542C1119.91 20.4703 1112.04 13.9004 1101.77 9.34469L1101.73 9.24878C1091.5 4.6451 1079.31 2.39121 1065.16 2.39121H996.821V118H1033.39ZM1088.43 79.6947C1082.87 84.4902 1074.42 86.888 1063.14 86.888H1033.34V32.1233H1063.14C1074.42 32.1233 1082.82 34.5211 1088.43 39.3166C1094 44.1121 1096.78 50.8737 1096.78 59.6016C1096.78 68.3294 1094 74.8513 1088.43 79.6468V79.6947Z" fill="white" fill-opacity="0.16"/>
            <path d="M945.142 118V2.39121H909.087V118H945.142Z" fill="white" fill-opacity="0.16"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M814.154 118L811.489 114.91C820.179 113.907 828.053 111.997 834.967 108.988C845.193 104.499 853.115 98.0035 858.684 89.5502C864.254 81.097 867.038 71.02 867.038 59.367C867.038 47.7139 864.254 37.3503 858.684 28.8494C853.115 20.3006 845.241 13.7577 834.967 9.22066C824.74 4.63586 812.545 2.39121 798.382 2.39121H730.014V118H766.599V115.77H773.08L774.998 118H814.154ZM766.599 31.9536V86.7325H796.414C807.696 86.7325 816.146 84.2968 821.716 79.4255C827.285 74.5541 830.07 68.0112 830.07 59.3192C830.07 50.6272 827.285 43.8932 821.716 39.1174C816.098 34.3416 807.696 31.9536 796.414 31.9536H766.599Z" fill="white" fill-opacity="0.16"/>
            <path d="M673.407 118L667.987 113.048C666.449 114.828 664.864 116.479 663.233 118H673.407Z" fill="white" fill-opacity="0.16"/>
            <path d="M591.874 118C591.798 117.925 591.721 117.85 591.645 117.775C587.115 113.287 583.596 107.988 581.09 101.829C578.584 95.671 577.331 88.8919 577.331 81.3967C577.331 73.9015 578.584 67.1224 581.09 60.964C583.596 54.8533 587.115 49.5064 591.645 45.0188L591.597 44.8756C596.127 40.388 601.477 36.9508 607.694 34.5638C613.863 32.1768 620.707 30.9833 628.081 30.9833C635.937 30.9833 643.166 32.5109 649.817 35.5663C656.468 38.6217 662.493 43.2524 667.939 49.3632L691.507 27.8324C683.94 18.7141 674.638 11.7918 663.505 7.06552C652.42 2.33926 639.985 0 626.25 0C613.863 0 602.441 2.00508 592.031 5.9675C581.62 9.92992 572.511 15.5632 564.704 22.9152C556.944 30.2672 550.871 38.8604 546.582 48.7425C542.293 58.6247 540.124 69.4617 540.124 81.3012C540.124 93.1407 542.293 103.978 546.582 113.86C547.192 115.266 547.838 116.646 548.518 118H591.874Z" fill="white" fill-opacity="0.16"/>
            </svg>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Footer",
    "tag": "section",
    "class": "footer section-full",
    "settings": [
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu"
        },
        {
            "type": "image_picker",
            "id": "logo_brand",
            "label": "Logo Brand"
        },
        {
            "type": "text",
            "id": "copyright_text",
            "label": "Copyright Text",
            "default": "© 2024 Template · All Rights Reserved"
        },
        {
            "type": "image_picker",
            "id": "ornament_text",
            "label": "ornament Text",
        }
    ],
    "blocks": [
        {
        "type": "payment_icon",
        "name": "Payment Icon",
        "settings": [
            {
                "type": "image_picker",
                "id": "icon",
                "label": "Icon"
            },
            {
                "type": "text",
                "id": "alt_text",
                "label": "Alt Text",
                "default": "Icon Payment"
            }
        ]
        }
    ],
    "max_blocks": 6,
    "presets": [
        {
            "name": "Custom Footer"
        }
    ]
}
{% endschema %}