<div class="container container-full home-section-two-cont no-padding">
  <div href="#" class="home-section-thirds">
    <img src="{{ section.settings.background_image_one |  image_url: width: 1920 }}" alt="" class="bg-full">
    <div class="home-section-half-wrapper">
      <div class="home-section-title items-center">
        {% if section.settings.product_one %}
          {% assign product_one = all_products[section.settings.product_one] %}
          <a href="{{ product_one.url }}" class="home-btn items-center">
            <span class="txt-400 fs-14 cl-white-50 uppercase">{{ section.settings.product_one_text }}</span>
            <span class="txt-500 fs-20 cl-white">{{ product_one.title }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div href="#" class="home-section-thirds">
    <img src="{{ section.settings.background_image_two |  image_url: width: 1920 }}" alt="" class="bg-full">
    <div class="home-section-half-wrapper">
      <div class="home-section-title items-center">
        {% if section.settings.product_two %}
          {% assign product_two = all_products[section.settings.product_two] %}
          <a href="{{ product_two.url }}" class="home-btn items-center">
            <span class="txt-400 fs-14 cl-white-50 uppercase">{{ section.settings.product_two_text }}</span>
            <span class="txt-500 fs-20 cl-white">{{ product_two.title }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div href="#" class="home-section-thirds">
    <img src="{{ section.settings.background_image_three |  image_url: width: 1920 }}" alt="" class="bg-full">
    <div class="home-section-half-wrapper">
      <div class="home-section-title items-center">
        {% if section.settings.product_three %}
          {% assign product_three = all_products[section.settings.product_three] %}
          <a href="{{ product_three.url }}" class="home-btn items-center">
            <span class="txt-400 fs-14 cl-white-50 uppercase">{{ section.settings.product_three_text }}</span>
            <span class="txt-500 fs-20 cl-white">{{ product_three.title }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Section Four",
    "tag": "section",
    "class": "home-section-four section-full",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image_one",
        "label": "Background Image One"
      },
      {
        "type": "product",
        "id": "product_one",
        "label": "Product One"
      },
      {
        "type": "text",
        "id": "product_one_text",
        "label": "Product One Title",
        "default": "Lorem Ipsum"
      },
      {
        "type": "image_picker",
        "id": "background_image_two",
        "label": "Background Image Two"
      },
      {
        "type": "product",
        "id": "product_two",
        "label": "Product Two"
      },
      {
        "type": "text",
        "id": "product_two_text",
        "label": "Product Two Title",
        "default": "Lorem Ipsum"
      },
      {
        "type": "image_picker",
        "id": "background_image_three",
        "label": "Background Image Three"
      },
      {
        "type": "product",
        "id": "product_three",
        "label": "Product Three"
      },
      {
        "type": "text",
        "id": "product_three_text",
        "label": "Product Three Title",
        "default": "Lorem Ipsum"
      }
    ],
    "blocks": [
    ]
  }
  {% endschema %}