<div class="container container-full home-hero-cont">
  <img src="{{ section.settings.background_image |  image_url: width: 1920 }}" alt="" class="bg-full">
  <div class="home-section-title">
    {% if section.settings.product_one %}
      {% assign product_one = all_products[section.settings.product_one] %}
      <a href="{{ product_one.url }}" class="home-btn">
        <span class="txt-400 fs-14 cl-white-50 uppercase">{{ section.settings.product_one_text }}</span>
        <span class="txt-500 fs-20 cl-white">{{ product_one.title }}</span>
      </a>
    {% endif %}
    {% if section.settings.product_two %}
      {% assign product_two = all_products[section.settings.product_two] %}
      <a href="{{ product_two.url }}" class="home-btn align-right home-hero-mobile-hidden">
        <span class="txt-400 fs-14 cl-white-50 uppercase">{{ section.settings.product_two_text }}</span>
        <span class="txt-500 fs-20 cl-white">{{ product_two.title }}</span>
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Home Hero Section",
  "tag": "section",
  "class": "home-hero section-full",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "product",
      "id": "product_one",
      "label": "Product One"
    },
    {
      "type": "text",
      "id": "product_one_text",
      "label": "Product One Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "product",
      "id": "product_two",
      "label": "Product Two"
    },
    {
      "type": "text",
      "id": "product_two_text",
      "label": "Product Two Title",
      "default": "Lorem Ipsum"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}