{% assign selectedVariant = product.selected_or_first_available_variant %}
<div class="container product-main-cont">
  <div class="product-main-gallery">
    {% for image in product.images %}
      <img src="{{ image | image_url: width: 1920 }}" alt="">
    {% endfor %}
  </div>
  <div class="product-main-slider">
    <div class="gallery-wrapper">
      <div class="swiper swiper-product">
        <div class="swiper-wrapper swiper-wrapper-product">
          {% for image in product.images %}
            <div class="swiper-slide swiper-slide-product">
              <img src="{{ image | image_url: width: 1920 }}" alt="">
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.34171 15.6485C6.8861 15.1799 6.8861 14.4201 7.34171 13.9515L11.1834 10L7.34171 6.04853C6.8861 5.5799 6.8861 4.8201 7.34171 4.35147C7.79732 3.88284 8.53601 3.88284 8.99162 4.35147L13.6583 9.15147C14.1139 9.6201 14.1139 10.3799 13.6583 10.8485L8.99162 15.6485C8.53601 16.1172 7.79732 16.1172 7.34171 15.6485Z" fill="#0F172A"/>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 15.6485C13.1139 15.1799 13.1139 14.4201 12.6583 13.9515L8.81658 10L12.6583 6.04853C13.1139 5.5799 13.1139 4.8201 12.6583 4.35147C12.2027 3.88284 11.464 3.88284 11.0084 4.35147L6.34171 9.15147C5.8861 9.6201 5.8861 10.3799 6.34171 10.8485L11.0084 15.6485C11.464 16.1172 12.2027 16.1172 12.6583 15.6485Z" fill="#0F172A"/>
          </svg>
        </div>
      </div>
      <div class="swiper swiper-thumbs">
        <div class="swiper-wrapper swiper-wrapper-thumbs">
          {% for image in product.images %}
            <div class="swiper-slide swiper-slide-thumbs">
              <img src="{{ image | image_url: width: 1024 }}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="product-main-content">
    
    <div class="product-title-wrapper">
      <h1 class="txt-500 fs-18 cl-black">{{ product.title |  escape }}</h1>
      <span class="txt-400 fs-16 cl-black">{{ product.price | money }}</span>
      <p class="txt-400 fs-12 cl-black-50">{{ product.description | strip_html }}</p>
    </div>

    {%  form 'product', product %} 
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <div class="product-variant">

        <div class="product-variant-size-head">
          <span class="txt-400 fs-12 cl-black">Size:</span>
          <div class="txt-400 fs-12 cl-black underline" id="btn-chart" style="cursor: pointer;">Size Chart</div>
        </div>

        <div class="product-variant-size-wrapper">
          {% for variant in product.variants %}
            <div
               class="product-variant-size-item">
              <label for="product-variant-option{{ variant.id }}">{{ variant.title }}</label>
              <input 
                type="radio" 
                name="id" 
                id="product-variant-option{{ variant.id }}" 
                value="{{ variant.id }}" 
                {% if selectedVariant.id == variant.id %}
                  checked
                {% endif %}
              >
            </div>
          {% endfor %}
        </div>

      </div>

      <div class="product-quantity">
        <button type="button" id="decrease-quantity">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 10.5H15.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <input type="number" id="quantity-input" name="quantity" value="1" min="1">
        <button type="button" id="increase-quantity">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 10.5H15.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5 15.5V5.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>

      <div class="product-accordion">
        {% if product.metafields.custom.details != blank %}
          <div class="product-accordion-item">
            <div class="product-accordion-head">
              <span class="txt-500 fs-14 cl-black">Details</span>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6199 5.7207L7.81655 9.52404C7.36738 9.9732 6.63238 9.9732 6.18322 9.52404L2.37988 5.7207" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="product-accordion-content">
              {{ product.metafields.custom.details }}
            </div>
          </div>
        {% endif %}
        {% if product.metafields.custom.styling_tips != blank %}
          <div class="product-accordion-item">
            <div class="product-accordion-head">
              <span class="txt-500 fs-14 cl-black">Details</span>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6199 5.7207L7.81655 9.52404C7.36738 9.9732 6.63238 9.9732 6.18322 9.52404L2.37988 5.7207" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="product-accordion-content">
              {{ product.metafields.custom.styling_tips }}
            </div>
          </div>
        {% endif %}
        <div class="product-accordion-item">
          <div class="product-accordion-head">
            <span class="txt-500 fs-14 cl-black">Care Guide</span>
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6199 5.7207L7.81655 9.52404C7.36738 9.9732 6.63238 9.9732 6.18322 9.52404L2.37988 5.7207" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="product-accordion-content">
            <p>
              Please refer to the size chart and note that all sizes are in <b>French sizing</b>. This item fits true to size; we recommend selecting your usual size. For care: dry clean only.
            </p>
          </div>
        </div>
        <div class="product-accordion-item">
          <div class="product-accordion-head">
            <span class="txt-500 fs-14 cl-black">Customization</span>
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6199 5.7207L7.81655 9.52404C7.36738 9.9732 6.63238 9.9732 6.18322 9.52404L2.37988 5.7207" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="product-accordion-content">
            <p>
              For color customizations, please <a href="{{ pages.contact.url}}" style="border-bottom: 1px solid #111111;">click here</a> to reach out.
            </p>
          </div>
        </div>
      </div>

      <button type="submit" class="add-to-cart-btn btn-primary">Add to Cart</button>
    {% endform %}
    
  </div>

  <div class="product-chart" id="product-chart">
    <div class="product-chart-cont" id="product-chart-cont">
      <div class="product-chart-head">
        <span class="txt-500 fs-20 cl-black">Size Chart</span>
        <div class="product-chart-close" id="btn-chart-close" style="cursor: pointer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#111111"/>
          </svg>
        </div>
      </div>
      <div class="product-chart-main">
        <ul class="product-chart-col">
          <li class="product-chart-item">
            <span>Standard</span>
          </li>
          <li class="product-chart-item">
            <span>XXS</span>
          </li>
          <li class="product-chart-item">
            <span>XS</span>
          </li>
          <li class="product-chart-item">
            <span>S</span>
          </li>
          <li class="product-chart-item">
            <span>M</span>
          </li>
          <li class="product-chart-item">
            <span>L</span>
          </li>
          <li class="product-chart-item">
            <span>XL</span>
          </li>
        </ul>
        <ul class="product-chart-col">
          <li class="product-chart-item">
            <span>Italy</span>
          </li>
          <li class="product-chart-item">
            <span>36</span>
          </li>
          <li class="product-chart-item">
            <span>38</span>
          </li>
          <li class="product-chart-item">
            <span>40</span>
          </li>
          <li class="product-chart-item">
            <span>42</span>
          </li>
          <li class="product-chart-item">
            <span>44</span>
          </li>
          <li class="product-chart-item">
            <span>46</span>
          </li>
        </ul>
        <ul class="product-chart-col">
          <li class="product-chart-item">
            <span>US</span>
          </li>
          <li class="product-chart-item">
            <span>1</span>
          </li>
          <li class="product-chart-item">
            <span>2</span>
          </li>
          <li class="product-chart-item">
            <span>4</span>
          </li>
          <li class="product-chart-item">
            <span>6</span>
          </li>
          <li class="product-chart-item">
            <span>8</span>
          </li>
          <li class="product-chart-item">
            <span>10</span>
          </li>
        </ul>
        <ul class="product-chart-col">
          <li class="product-chart-item">
            <span>France</span>
          </li>
          <li class="product-chart-item">
            <span>32</span>
          </li>
          <li class="product-chart-item">
            <span>34</span>
          </li>
          <li class="product-chart-item">
            <span>36</span>
          </li>
          <li class="product-chart-item">
            <span>38</span>
          </li>
          <li class="product-chart-item">
            <span>40</span>
          </li>
          <li class="product-chart-item">
            <span>42</span>
          </li>
        </ul>
        <ul class="product-chart-col">
          <li class="product-chart-item">
            <span>UK</span>
          </li>
          <li class="product-chart-item">
            <span>4</span>
          </li>
          <li class="product-chart-item">
            <span>6</span>
          </li>
          <li class="product-chart-item">
            <span>8</span>
          </li>
          <li class="product-chart-item">
            <span>10</span>
          </li>
          <li class="product-chart-item">
            <span>12</span>
          </li>
          <li class="product-chart-item">
            <span>14</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiperThumbs = new Swiper(".swiper-thumbs", {
    loop: true,
    spaceBetween: 8,
    slidesPerView: 3,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper = new Swiper(".swiper-product", {
    spaceBetween: 16,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 5000,
    },
    loop: true,
    thumbs: {
      swiper: swiperThumbs,
    },
  });
</script>

<script src="{{ "product-main.js" |  asset_url }}"></script>

{% schema %}
  {
    "name": "Product Section",
    "tag": "section",
    "class": "section product-main",
    "settings": [
    ],
    "blocks": [
    ]
  }
{% endschema %}