{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="container">
    <div class="detail-content_wrapper detail-product-page">
        <div class="detail-content_wrapper-text detail-product-page_txt">
            {% comment %} <div class="tag_detail">{{ product.type }}</div> {% endcomment %}
            <h1 class="detail-display_title">
                {{ product.title }}
            </h1>
            <span class="detail-display_price">{{ product.price | money }}</span>
            <span class="detail-display_paragraft">
                {{ product.description }}
            </span>
            {% comment %} <div class="dropdown" id="myDropdown">
                <div class="dropdown-toggle">
                    <span class="text-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25" fill="none">
                        <path d="M12 2.75C10.0716 2.75 8.18657 3.32183 6.58319 4.39317C4.97982 5.46451 3.73013 6.98726 2.99218 8.76884C2.25422 10.5504 2.06114 12.5108 2.43735 14.4021C2.81355 16.2934 3.74215 18.0307 5.10571 19.3943C6.46928 20.7579 8.20656 21.6865 10.0979 22.0627C11.9892 22.4389 13.9496 22.2458 15.7312 21.5078C17.5127 20.7699 19.0355 19.5202 20.1068 17.9168C21.1782 16.3134 21.75 14.4284 21.75 12.5C21.7473 9.91498 20.7192 7.43661 18.8913 5.60872C17.0634 3.78084 14.585 2.75273 12 2.75ZM12 20.75C10.3683 20.75 8.77326 20.2661 7.41655 19.3596C6.05984 18.4531 5.00242 17.1646 4.378 15.6571C3.75358 14.1496 3.5902 12.4908 3.90853 10.8905C4.22685 9.29016 5.01259 7.82015 6.16637 6.66637C7.32016 5.51259 8.79017 4.72685 10.3905 4.40852C11.9909 4.09019 13.6497 4.25357 15.1571 4.87799C16.6646 5.50242 17.9531 6.55984 18.8596 7.91655C19.7661 9.27325 20.25 10.8683 20.25 12.5C20.2475 14.6873 19.3775 16.7843 17.8309 18.3309C16.2843 19.8775 14.1873 20.7475 12 20.75ZM13.5 17C13.5 17.1989 13.421 17.3897 13.2803 17.5303C13.1397 17.671 12.9489 17.75 12.75 17.75C12.3522 17.75 11.9706 17.592 11.6893 17.3107C11.408 17.0294 11.25 16.6478 11.25 16.25V12.5C11.0511 12.5 10.8603 12.421 10.7197 12.2803C10.579 12.1397 10.5 11.9489 10.5 11.75C10.5 11.5511 10.579 11.3603 10.7197 11.2197C10.8603 11.079 11.0511 11 11.25 11C11.6478 11 12.0294 11.158 12.3107 11.4393C12.592 11.7206 12.75 12.1022 12.75 12.5V16.25C12.9489 16.25 13.1397 16.329 13.2803 16.4697C13.421 16.6103 13.5 16.8011 13.5 17ZM10.5 8.375C10.5 8.1525 10.566 7.93499 10.6896 7.74998C10.8132 7.56498 10.9889 7.42078 11.1945 7.33564C11.4001 7.25049 11.6263 7.22821 11.8445 7.27162C12.0627 7.31502 12.2632 7.42217 12.4205 7.5795C12.5778 7.73684 12.685 7.93729 12.7284 8.15552C12.7718 8.37375 12.7495 8.59995 12.6644 8.80552C12.5792 9.01109 12.435 9.18679 12.25 9.3104C12.065 9.43402 11.8475 9.5 11.625 9.5C11.3266 9.5 11.0405 9.38147 10.8295 9.1705C10.6185 8.95952 10.5 8.67337 10.5 8.375Z" fill="#ED1C24"/>
                    </svg>
                    <h3>How to take</h3>
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M13.354 6.85372L8.35403 11.8537C8.30759 11.9002 8.25245 11.9371 8.19175 11.9623C8.13105 11.9874 8.06599 12.0004 8.00028 12.0004C7.93457 12.0004 7.86951 11.9874 7.80881 11.9623C7.74811 11.9371 7.69296 11.9002 7.64653 11.8537L2.64653 6.85372C2.55271 6.7599 2.5 6.63265 2.5 6.49997C2.5 6.36729 2.55271 6.24004 2.64653 6.14622C2.74035 6.0524 2.8676 5.99969 3.00028 5.99969C3.13296 5.99969 3.26021 6.0524 3.35403 6.14622L8.00028 10.7931L12.6465 6.14622C12.693 6.09977 12.7481 6.06292 12.8088 6.03778C12.8695 6.01263 12.9346 5.99969 13.0003 5.99969C13.066 5.99969 13.131 6.01263 13.1917 6.03778C13.2524 6.06292 13.3076 6.09977 13.354 6.14622C13.4005 6.19268 13.4373 6.24783 13.4625 6.30852C13.4876 6.36922 13.5006 6.43428 13.5006 6.49997C13.5006 6.56567 13.4876 6.63072 13.4625 6.69142C13.4373 6.75212 13.4005 6.80727 13.354 6.85372Z" fill="#274250"/>
                    </svg>
                </div>

                <div class="dropdown-options">
                    <div class="dropdown-option">

                    {% if product.metafields.custom.how_to_take != blank %}
                        <p class="how-to-take">
                        {{ product.metafields.custom.how_to_take }}
                        </p>
                    {% else %}
                        <p class="how-to-take">
                        No usage instructions available.
                        </p>
                    {% endif %}
                    </div>
                </div>
            </div> {% endcomment %}
                {%- for block in section.blocks -%}
                    {%- if block.type == 'collapsible' -%}
                        <details class="dropdown active" id="myDropdown">
                            <summary aria-expanded="false">
                                <div class="dropdown-toggle">
                                    <span class="text-toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25" fill="none">
                                        <path d="M12 2.75C10.0716 2.75 8.18657 3.32183 6.58319 4.39317C4.97982 5.46451 3.73013 6.98726 2.99218 8.76884C2.25422 10.5504 2.06114 12.5108 2.43735 14.4021C2.81355 16.2934 3.74215 18.0307 5.10571 19.3943C6.46928 20.7579 8.20656 21.6865 10.0979 22.0627C11.9892 22.4389 13.9496 22.2458 15.7312 21.5078C17.5127 20.7699 19.0355 19.5202 20.1068 17.9168C21.1782 16.3134 21.75 14.4284 21.75 12.5C21.7473 9.91498 20.7192 7.43661 18.8913 5.60872C17.0634 3.78084 14.585 2.75273 12 2.75ZM12 20.75C10.3683 20.75 8.77326 20.2661 7.41655 19.3596C6.05984 18.4531 5.00242 17.1646 4.378 15.6571C3.75358 14.1496 3.5902 12.4908 3.90853 10.8905C4.22685 9.29016 5.01259 7.82015 6.16637 6.66637C7.32016 5.51259 8.79017 4.72685 10.3905 4.40852C11.9909 4.09019 13.6497 4.25357 15.1571 4.87799C16.6646 5.50242 17.9531 6.55984 18.8596 7.91655C19.7661 9.27325 20.25 10.8683 20.25 12.5C20.2475 14.6873 19.3775 16.7843 17.8309 18.3309C16.2843 19.8775 14.1873 20.7475 12 20.75ZM13.5 17C13.5 17.1989 13.421 17.3897 13.2803 17.5303C13.1397 17.671 12.9489 17.75 12.75 17.75C12.3522 17.75 11.9706 17.592 11.6893 17.3107C11.408 17.0294 11.25 16.6478 11.25 16.25V12.5C11.0511 12.5 10.8603 12.421 10.7197 12.2803C10.579 12.1397 10.5 11.9489 10.5 11.75C10.5 11.5511 10.579 11.3603 10.7197 11.2197C10.8603 11.079 11.0511 11 11.25 11C11.6478 11 12.0294 11.158 12.3107 11.4393C12.592 11.7206 12.75 12.1022 12.75 12.5V16.25C12.9489 16.25 13.1397 16.329 13.2803 16.4697C13.421 16.6103 13.5 16.8011 13.5 17ZM10.5 8.375C10.5 8.1525 10.566 7.93499 10.6896 7.74998C10.8132 7.56498 10.9889 7.42078 11.1945 7.33564C11.4001 7.25049 11.6263 7.22821 11.8445 7.27162C12.0627 7.31502 12.2632 7.42217 12.4205 7.5795C12.5778 7.73684 12.685 7.93729 12.7284 8.15552C12.7718 8.37375 12.7495 8.59995 12.6644 8.80552C12.5792 9.01109 12.435 9.18679 12.25 9.3104C12.065 9.43402 11.8475 9.5 11.625 9.5C11.3266 9.5 11.0405 9.38147 10.8295 9.1705C10.6185 8.95952 10.5 8.67337 10.5 8.375Z" fill="#ED1C24"/>
                                    </svg>
                                    <h3>{{ block.settings.heading }}</h3>
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                        <path d="M13.354 6.85372L8.35403 11.8537C8.30759 11.9002 8.25245 11.9371 8.19175 11.9623C8.13105 11.9874 8.06599 12.0004 8.00028 12.0004C7.93457 12.0004 7.86951 11.9874 7.80881 11.9623C7.74811 11.9371 7.69296 11.9002 7.64653 11.8537L2.64653 6.85372C2.55271 6.7599 2.5 6.63265 2.5 6.49997C2.5 6.36729 2.55271 6.24004 2.64653 6.14622C2.74035 6.0524 2.8676 5.99969 3.00028 5.99969C3.13296 5.99969 3.26021 6.0524 3.35403 6.14622L8.00028 10.7931L12.6465 6.14622C12.693 6.09977 12.7481 6.06292 12.8088 6.03778C12.8695 6.01263 12.9346 5.99969 13.0003 5.99969C13.066 5.99969 13.131 6.01263 13.1917 6.03778C13.2524 6.06292 13.3076 6.09977 13.354 6.14622C13.4005 6.19268 13.4373 6.24783 13.4625 6.30852C13.4876 6.36922 13.5006 6.43428 13.5006 6.49997C13.5006 6.56567 13.4876 6.63072 13.4625 6.69142C13.4373 6.75212 13.4005 6.80727 13.354 6.85372Z" fill="#274250"/>
                                    </svg>
                                </div>
                            </summary>
                    
                            {% comment %} <div class="accordion__content rte" id="AccordionContent-{{ block.id }}-{{ section.id }}">
                                    {{ block.settings.collapsible-content }}
                            </div> {% endcomment %}

                            <div class="dropdown-options">
                                <div class="dropdown-option">
                                    <p class="how-to-take">
                                        {{ block.settings.collapsible-content }}
                                    </p>
                                </div>
                            </div>
                        </details>
                    {%- endif -%}
                {%- endfor -%}

            <form class="form-btn_card" method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <button type="submit"
                    class="button btn-primary is-big is-fullwidth {% unless product.available %}is-disabled{% endunless %}"
                    {% unless product.available %}disabled 
                    style="
                        border-radius: 40px; 
                        background: #C3C3C3; 
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: -0.16px; 
                        cursor: not-allowed;"
                    {% endunless %}>
                {% if product.available %}
                Add to Cart
                {% else %}
                Add to cart
                {% endif %}
            </button>
            </form>

            <div>
                {% if product.available %}
                    <div class="stock_container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                            <path d="M17.475 5.66798L10.6 1.90626C10.4163 1.80477 10.2099 1.75153 10 1.75153C9.79013 1.75153 9.58369 1.80477 9.4 1.90626L2.525 5.66955C2.32866 5.77697 2.16477 5.93514 2.05043 6.12753C1.93609 6.31993 1.87551 6.53949 1.875 6.7633V14.2352C1.87551 14.459 1.93609 14.6785 2.05043 14.8709C2.16477 15.0633 2.32866 15.2215 2.525 15.3289L9.4 19.0922C9.58369 19.1937 9.79013 19.2469 10 19.2469C10.2099 19.2469 10.4163 19.1937 10.6 19.0922L17.475 15.3289C17.6713 15.2215 17.8352 15.0633 17.9496 14.8709C18.0639 14.6785 18.1245 14.459 18.125 14.2352V6.76408C18.1249 6.53987 18.0645 6.31982 17.9502 6.12698C17.8358 5.93414 17.6717 5.7756 17.475 5.66798ZM10 3.00001L16.2773 6.43751L13.9508 7.71017L7.67344 4.27267L10 3.00001ZM10 9.87501L3.72266 6.43751L6.37187 4.98673L12.6492 8.42423L10 9.87501ZM16.875 14.2383L10.625 17.6594V10.9555L13.125 9.58751V12.375C13.125 12.5408 13.1908 12.6997 13.3081 12.817C13.4253 12.9342 13.5842 13 13.75 13C13.9158 13 14.0747 12.9342 14.1919 12.817C14.3092 12.6997 14.375 12.5408 14.375 12.375V8.90314L16.875 7.53517V14.2352V14.2383Z" fill="#00AC22"/>
                        </svg>
                        <p class="in-stock">In Stock</p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
                        <circle cx="1.5" cy="1.5" r="1.5" fill="#274250"/>
                        </svg>

                        <p class="in-coast">Medication costs included.</p>
                        
                    </div>
                {% else %}                    
                
                <div class="stock_container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M17.475 5.66798L10.6 1.90626C10.4163 1.80477 10.2099 1.75153 10 1.75153C9.79013 1.75153 9.58369 1.80477 9.4 1.90626L2.525 5.66955C2.32866 5.77697 2.16477 5.93514 2.05043 6.12753C1.93609 6.31993 1.87551 6.53949 1.875 6.7633V14.2352C1.87551 14.459 1.93609 14.6785 2.05043 14.8709C2.16477 15.0633 2.32866 15.2215 2.525 15.3289L9.4 19.0922C9.58369 19.1937 9.79013 19.2469 10 19.2469C10.2099 19.2469 10.4163 19.1937 10.6 19.0922L17.475 15.3289C17.6713 15.2215 17.8352 15.0633 17.9496 14.8709C18.0639 14.6785 18.1245 14.459 18.125 14.2352V6.76408C18.1249 6.53987 18.0645 6.31982 17.9502 6.12698C17.8358 5.93414 17.6717 5.7756 17.475 5.66798ZM10 3.00001L16.2773 6.43751L13.9508 7.71017L7.67344 4.27267L10 3.00001ZM10 9.87501L3.72266 6.43751L6.37187 4.98673L12.6492 8.42423L10 9.87501ZM16.875 14.2383L10.625 17.6594V10.9555L13.125 9.58751V9.875C13.125 10.0408 13.1908 10.1997 13.3081 10.3169C13.4253 10.4342 13.5842 10.5 13.75 10.5C13.9158 10.5 14.0747 10.4342 14.1919 10.3169C14.3092 10.1997 14.375 10.0408 14.375 9.875V8.90314L16.875 7.53517V14.2352V14.2383Z" fill="#9C0C11"/>
                    <circle cx="15" cy="6" r="4" fill="white"/>
                    <path d="M14.875 1C13.9108 1 12.9683 1.28591 12.1666 1.82159C11.3649 2.35726 10.7401 3.11863 10.3711 4.00942C10.0021 4.90021 9.90557 5.88041 10.0937 6.82607C10.2818 7.77172 10.7461 8.64036 11.4279 9.32215C12.1096 10.0039 12.9783 10.4682 13.9239 10.6563C14.8696 10.8444 15.8498 10.7479 16.7406 10.3789C17.6314 10.0099 18.3927 9.38509 18.9284 8.5834C19.4641 7.78171 19.75 6.83918 19.75 5.875C19.7486 4.58249 19.2346 3.34331 18.3206 2.42936C17.4067 1.51542 16.1675 1.00136 14.875 1ZM16.6403 7.10969C16.6752 7.14453 16.7028 7.18589 16.7216 7.23141C16.7405 7.27694 16.7502 7.32573 16.7502 7.375C16.7502 7.42427 16.7405 7.47306 16.7216 7.51859C16.7028 7.56411 16.6752 7.60547 16.6403 7.64031C16.6055 7.67515 16.5641 7.70279 16.5186 7.72165C16.4731 7.7405 16.4243 7.75021 16.375 7.75021C16.3257 7.75021 16.2769 7.7405 16.2314 7.72165C16.1859 7.70279 16.1445 7.67515 16.1097 7.64031L14.875 6.40516L13.6403 7.64031C13.6055 7.67515 13.5641 7.70279 13.5186 7.72165C13.4731 7.7405 13.4243 7.75021 13.375 7.75021C13.3257 7.75021 13.2769 7.7405 13.2314 7.72165C13.1859 7.70279 13.1445 7.67515 13.1097 7.64031C13.0748 7.60547 13.0472 7.56411 13.0284 7.51859C13.0095 7.47306 12.9998 7.42427 12.9998 7.375C12.9998 7.32573 13.0095 7.27694 13.0284 7.23141C13.0472 7.18589 13.0748 7.14453 13.1097 7.10969L14.3448 5.875L13.1097 4.64031C13.0393 4.56995 12.9998 4.47451 12.9998 4.375C12.9998 4.27549 13.0393 4.18005 13.1097 4.10969C13.1801 4.03932 13.2755 3.99979 13.375 3.99979C13.4745 3.99979 13.5699 4.03932 13.6403 4.10969L14.875 5.34484L16.1097 4.10969C16.1445 4.07485 16.1859 4.04721 16.2314 4.02835C16.2769 4.0095 16.3257 3.99979 16.375 3.99979C16.4243 3.99979 16.4731 4.0095 16.5186 4.02835C16.5641 4.04721 16.6055 4.07485 16.6403 4.10969C16.6752 4.14453 16.7028 4.18589 16.7216 4.23141C16.7405 4.27694 16.7502 4.32573 16.7502 4.375C16.7502 4.42427 16.7405 4.47306 16.7216 4.51859C16.7028 4.56411 16.6752 4.60547 16.6403 4.64031L15.4052 5.875L16.6403 7.10969Z" fill="#9C0C11"/>
                    </svg>

                    <p class="out-stock">Out of Stock</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
                    <circle cx="1.5" cy="1.5" r="1.5" fill="#274250"/>
                    </svg>

                    <p class="in-coast">Medication costs included.</p>
                    
                </div>
                    
                {% endif %}
                
            </div>
        </div>
        <div class="detail-content_wrapper-image">
            {% for image in product.images %}
            <img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" >
            {% endfor %}
        </div>

    </div>
</div>
<script>
    const dropdown = document.getElementById('myDropdown');
    const toggle = dropdown.querySelector('.dropdown-toggle');

    toggle.addEventListener('click', () => {
        dropdown.classList.toggle('active');
    });

    document.addEventListener('click', (e) => {
        if (!dropdown.contains(e.target)) {
        dropdown.classList.remove('active');
        }
    });
</script>


{% schema %}
    {
        "name": "Product detail Section",
        "tag": "section",
        "class": "hero-detail section-full",
        "blocks": [
                {
                "type": "collapsible",
                "name": "collapsible",
                "settings": [
                    {
                    "type": "text",
                    "id": "heading",
                    "default": "how it work",
                    "label": "collapsible heading"
                    },
                    {
                    "type": "richtext",
                    "id": "collapsible-content",
                    "label": "collapsible content"
                    }
                ]
                }
            ],
            "presets": [
                {
                "name": "collapsible content",
                "blocks": [
                    {
                    "type": "collapsible"
                    },
                    {
                    "type": "collapsible"
                    },
                    {
                    "type": "collapsible"
                    },
                    {
                    "type": "collapsible"
                    }
                ]
                }
            ]
    }
{% endschema %}