<div class="container">
    <div class="product-content_wrapper">
        <div class="product-content_wrapper-card">

            <div class="card-product">
                <div class="card-product_text">
                    <h1 class="card-product_text-title">Weight Loss Designed <span>Around Your Lifestyle</span></h1>
                    <a href="/collections" class="button btn-primary is-small">Get Sarted
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M11.354 8.85372L6.35403 13.8537C6.30757 13.9002 6.25242 13.937 6.19173 13.9622C6.13103 13.9873 6.06598 14.0003 6.00028 14.0003C5.93458 14.0003 5.86953 13.9873 5.80883 13.9622C5.74813 13.937 5.69298 13.9002 5.64653 13.8537C5.60007 13.8073 5.56322 13.7521 5.53808 13.6914C5.51294 13.6307 5.5 13.5657 5.5 13.5C5.5 13.4343 5.51294 13.3692 5.53808 13.3085C5.56322 13.2478 5.60007 13.1927 5.64653 13.1462L10.2934 8.49997L5.64653 3.85372C5.55271 3.7599 5.5 3.63265 5.5 3.49997C5.5 3.36729 5.55271 3.24004 5.64653 3.14622C5.74035 3.0524 5.8676 2.99969 6.00028 2.99969C6.13296 2.99969 6.26021 3.0524 6.35403 3.14622L11.354 8.14622C11.4005 8.19266 11.4374 8.2478 11.4626 8.3085C11.4877 8.3692 11.5007 8.43427 11.5007 8.49997C11.5007 8.56568 11.4877 8.63074 11.4626 8.69144C11.4374 8.75214 11.4005 8.80729 11.354 8.85372Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <img class="card-product_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="32" height="320">
            </div>

            <div class="card-product">
                <div class="card-product_text">
                    <h1 class="card-product_text-title">Weight Loss Designed <span>Around Your Lifestyle</span></h1>
                    <a href="/collections" class="button btn-primary is-small">Get Sarted
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M11.354 8.85372L6.35403 13.8537C6.30757 13.9002 6.25242 13.937 6.19173 13.9622C6.13103 13.9873 6.06598 14.0003 6.00028 14.0003C5.93458 14.0003 5.86953 13.9873 5.80883 13.9622C5.74813 13.937 5.69298 13.9002 5.64653 13.8537C5.60007 13.8073 5.56322 13.7521 5.53808 13.6914C5.51294 13.6307 5.5 13.5657 5.5 13.5C5.5 13.4343 5.51294 13.3692 5.53808 13.3085C5.56322 13.2478 5.60007 13.1927 5.64653 13.1462L10.2934 8.49997L5.64653 3.85372C5.55271 3.7599 5.5 3.63265 5.5 3.49997C5.5 3.36729 5.55271 3.24004 5.64653 3.14622C5.74035 3.0524 5.8676 2.99969 6.00028 2.99969C6.13296 2.99969 6.26021 3.0524 6.35403 3.14622L11.354 8.14622C11.4005 8.19266 11.4374 8.2478 11.4626 8.3085C11.4877 8.3692 11.5007 8.43427 11.5007 8.49997C11.5007 8.56568 11.4877 8.63074 11.4626 8.69144C11.4374 8.75214 11.4005 8.80729 11.354 8.85372Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <img class="card-product_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="32" height="320">
            </div>
            
        </div>


        <div class="product-slider_small">
            <div class="button-slider_next">
                <button class="icon-button_slider next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.05844 10.4422L13.3084 16.6922C13.3665 16.7502 13.4354 16.7963 13.5113 16.8277C13.5872 16.8592 13.6685 16.8753 13.7506 16.8753C13.8328 16.8753 13.9141 16.8592 13.9899 16.8277C14.0658 16.7963 14.1347 16.7502 14.1928 16.6922C14.2509 16.6341 14.2969 16.5652 14.3284 16.4893C14.3598 16.4134 14.376 16.3321 14.376 16.25C14.376 16.1679 14.3598 16.0865 14.3284 16.0107C14.2969 15.9348 14.2509 15.8659 14.1928 15.8078L8.38422 9.99998L14.1928 4.19217C14.3101 4.07489 14.376 3.91583 14.376 3.74998C14.376 3.58413 14.3101 3.42507 14.1928 3.30779C14.0755 3.19052 13.9165 3.12463 13.7506 3.12463C13.5848 3.12463 13.4257 3.19052 13.3084 3.30779L7.05844 9.55779C7.00033 9.61584 6.95423 9.68477 6.92278 9.76064C6.89133 9.83652 6.87514 9.91785 6.87514 9.99998C6.87514 10.0821 6.89133 10.1634 6.92278 10.2393C6.95423 10.3152 7.00033 10.3841 7.05844 10.4422Z" fill="#111111"/>
                    </svg>
                </button>
            </div>
            <div class="slider-product-page" id="slider-product-page">
                {% for collection in collections %}
                    <a href="{{ collection.url }}" data-collection="{{ collection.title }}">
                        <div class="card-product-small">
                            {% if collection.image %}
                                <img src="{{ collection.image | img_url: 'large' }}" alt="{{ collection.title }}" width="196" height="196">
                            {% endif %}
                            <div class="card-product-small_text">
                                <h2 class="card-product-small_text-title">{{ collection.title }}</h2>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="button-slider_prev">
                <button class="icon-button_slider prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M14.1925 10.4422L7.94254 16.6922C7.88447 16.7502 7.81553 16.7963 7.73966 16.8277C7.66379 16.8592 7.58247 16.8753 7.50035 16.8753C7.41823 16.8753 7.33691 16.8592 7.26104 16.8277C7.18517 16.7963 7.11623 16.7502 7.05816 16.6922C7.00009 16.6341 6.95403 16.5652 6.9226 16.4893C6.89117 16.4134 6.875 16.3321 6.875 16.25C6.875 16.1679 6.89117 16.0865 6.9226 16.0107C6.95403 15.9348 7.00009 15.8659 7.05816 15.8078L12.8668 9.99998L7.05816 4.19217C6.94088 4.07489 6.875 3.91583 6.875 3.74998C6.875 3.58413 6.94088 3.42507 7.05816 3.30779C7.17544 3.19052 7.3345 3.12463 7.50035 3.12463C7.6662 3.12463 7.82526 3.19052 7.94254 3.30779L14.1925 9.55779C14.2506 9.61584 14.2967 9.68477 14.3282 9.76064C14.3597 9.83652 14.3758 9.91785 14.3758 9.99998C14.3758 10.0821 14.3597 10.1634 14.3282 10.2393C14.2967 10.3152 14.2506 10.3841 14.1925 10.4422Z" fill="#111111"/>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
    "name": "Product Home Section",
    "tag": "section",
    "class": "product-page section-full"
}
{% endschema %}