<div class="container content-blocks-cont">
  <div class="content-blocks-item">
    <img src="{{ section.settings.select_image |  image_url: width: 1920  }}" alt="" class="content-blocks-img">
    <div class="content-blocks-content">
      <div class="content-blocks-wrapper">
        <span class="txt-400 fs-14 cl-black-50 uppercase txt-center">
          {{ section.settings.eyebrow_title }}
        </span>
        <span class="txt-500 fs-32 cl-black txt-center">
          {{ section.settings.text_heading }}
        </span>
        <p class="txt-400 fs-20 cl-black-50 txt-center">
          {{ section.settings.text_description }}
        </p>
      </div>
    </div>
  </div>
  <div class="content-blocks-item flex-row-rvs">
    <img src="{{ section.settings.select_image_two |  image_url: width: 1920  }}" alt="" class="content-blocks-img">
    <div class="content-blocks-content">
      <div class="content-blocks-wrapper">
        <span class="txt-400 fs-14 cl-black-50 uppercase txt-center">
          {{ section.settings.eyebrow_title_two }}
        </span>
        <span class="txt-500 fs-32 cl-black txt-center">
          {{ section.settings.text_heading }}
        </span>
        <p class="txt-400 fs-20 cl-black-50 txt-center">
          {{ section.settings.text_description_two }}
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section Blocks",
    "tag": "section",
    "class": "section content-blocks",
    "settings": [
      {
        "type": "image_picker",
        "id": "select_image",
        "label": "Select Image"
      },
      {
        "type": "text",
        "id": "eyebrow_title",
        "label": "Eyebrow Title",
        "default": "Founder"
      },
      {
        "type": "textarea",
        "id": "text_heading",
        "label": "Text Heading",
        "default": "Crafting fashion with visionary creativity."
      },
      {
        "type": "textarea",
        "id": "text_description",
        "label": "Text Description",
        "default": "Maha Ahmed, the Egyptian creative director behind AUTONOMIE®, translates perseverance and passion into the collections. Her journey through major fashion capitals like Paris and Milan, coupled with a degree in Fashion Design from Istituto Marangoni Milan infuses the designs with a seamless global perspective, combined with her Arabic roots."
      },
      {
        "type": "image_picker",
        "id": "select_image_two",
        "label": "Select Image Two"
      },
      {
        "type": "text",
        "id": "eyebrow_title_two",
        "label": "Eyebrow Title Two",
        "default": "Founder"
      },
      {
        "type": "textarea",
        "id": "text_heading_two",
        "label": "Text Heading Two",
        "default": "Uniting Global Influence with Bold Artistic Vision"
      },
      {
        "type": "textarea",
        "id": "text_description_two",
        "label": "Text Description Two",
        "default": "Through her journey from the world’s fashion capitals, Maha’s vision combines a global perspective with timeless elegance. Her collections celebrate the fusion of tradition and modern design, bringing a seamless blend of perseverance, creativity, and cultural richness to every piece."
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}