<div class="container">
    <div class="begin-content">
        <div class="begin-content_text">
            <h1 class="begin-content_text_title">
                {% if section.settings.title != blank %}
                    {{ section.settings.title }}
                {% else %}
                You may also like
                {% endif %}
            </h1>
        </div>

        <div class="begin-content_info-card">
            {% assign collections_count = 0 %}
            
            {% for collection in collections %}
                {% if collection.products.size > 0 and collections_count < 3 %}
                    <div class="begin_info-items">
                        {% assign product = collection.products.first %}
                        
                        {% if product.type != blank %}
                            <div class="begin_bedge">{{ product.type }}</div>
                        {% endif %}
                        <img class="begin-card_image" src="{{ product.featured_image.src | img_url: 'medium' }}" 
                            alt="{{ product.featured_image.alt | escape }}" width="250" height="250">
                        <h2>{{ product.title }}</h2>
                        <p>Starting {{ product.price | money }}/mo</p>
                        <div class="begin_button-wrapper">
                            <form class="form-btn_card" method="post" action="/cart/add">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                                <button type="submit" class="button btn-black is-small is-fullwidth">Add to Cart</button>
                            </form>
                            <a class="button btn-outline is-small is-fullwidth" 
                            href="{{ product.url | within: collection }}">Learn more</a>
                        </div>
                    </div>
                    {% assign collections_count = collections_count | plus: 1 %}
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>

{% schema %}
{
    "name": "you may also like Section",
    "tag": "section",
    "class": "you-may section-full",
    "settings": [
        {
            "type": "text",
            "label": "Main Title",
            "id": "title",
            "default": "You may also like"
        }
    ]
}
{% endschema %}
