<div class="search bg-search section-full">
  <div class="container">
    <h1>Search</h1>
    <form class="search-page-input" action="/search" method="get" role="search">
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M21.5279 20.4694L16.8338 15.7763C18.1944 14.1429 18.8728 12.0478 18.728 9.92694C18.5832 7.80607 17.6263 5.82268 16.0564 4.38935C14.4865 2.95602 12.4245 2.18311 10.2992 2.23141C8.17394 2.27971 6.14912 3.1455 4.64595 4.64867C3.14278 6.15184 2.277 8.17666 2.2287 10.3019C2.1804 12.4272 2.9533 14.4892 4.38663 16.0591C5.81996 17.629 7.80336 18.5859 9.92422 18.7307C12.0451 18.8755 14.1401 18.1971 15.7735 16.8366L20.4667 21.5306C20.5363 21.6003 20.6191 21.6556 20.7101 21.6933C20.8012 21.731 20.8987 21.7504 20.9973 21.7504C21.0958 21.7504 21.1934 21.731 21.2845 21.6933C21.3755 21.6556 21.4582 21.6003 21.5279 21.5306C21.5976 21.4609 21.6529 21.3782 21.6906 21.2872C21.7283 21.1961 21.7477 21.0985 21.7477 21C21.7477 20.9015 21.7283 20.8039 21.6906 20.7128C21.6529 20.6218 21.5976 20.5391 21.5279 20.4694ZM3.74728 10.5C3.74728 9.16498 4.14317 7.85993 4.88486 6.7499C5.62656 5.63987 6.68077 4.77471 7.91417 4.26381C9.14757 3.75292 10.5048 3.61925 11.8141 3.8797C13.1235 4.14015 14.3263 4.78303 15.2703 5.72703C16.2143 6.67103 16.8571 7.87377 17.1176 9.18314C17.378 10.4925 17.2444 11.8497 16.7335 13.0831C16.2226 14.3165 15.3574 15.3707 14.2474 16.1124C13.1374 16.8541 11.8323 17.25 10.4973 17.25C8.70768 17.248 6.99195 16.5362 5.72651 15.2708C4.46107 14.0053 3.74927 12.2896 3.74728 10.5Z" fill="#274250"/>
        </svg>
      </button>
      <input type="search" name="q" value="{{ search.terms | escape }}">
    </form>
  </div>
</div>

<div class="search-content{% if search.results.size > 0 %} has-results{% endif %}">
  {% paginate search.results by 6 %}
    {% if search.performed %}
      <div class="container">
        <div class="search-header">
          {% if search.results.size > 0 %}
            <div class="search-summary">
              <p>{{ search.results.size }} Result{% if search.results.size > 1 %}s{% endif %} found for <strong>"{{ search.terms }}"</strong></p>
            </div>

            {% if search.types contains 'product' %}
              <form class="sort-wrapper" method="get" class="sort-form">
                <input type="hidden" name="q" value="{{ search.terms }}">
                <label for="sort-by">Sort by:</label>
                <select name="sort_by" id="sort-by" onchange="this.form.submit()">
                  <option value="relevance" {% if search.sort_by == "relevance" %}selected{% endif %}>Relevance</option>
                  <option value="price-ascending" {% if search.sort_by == "price-ascending" %}selected{% endif %}>Price : High to Low</option>
                  <option value="price-descending" {% if search.sort_by == "price-descending" %}selected{% endif %}>Price : Low to high</option>
                  <option value="title-ascending" {% if search.sort_by == "title-ascending" %}selected{% endif %}>A–Z</option>
                  <option value="title-descending" {% if search.sort_by == "title-descending" %}selected{% endif %}>Z–A</option>
                  <option value="created-descending" {% if search.sort_by == "created-descending" %}selected{% endif %}>Newest</option>
                  <option value="created-ascending" {% if search.sort_by == "created-ascending" %}selected{% endif %}>Oldest</option>
                </select>
              </form>
            {% endif %}
          {% else %}
            <div class="search-summary">
              <p>No results found for <strong>"{{ search.terms }}"</strong></p>
            </div>
          {% endif %}
        </div>

        <div class="search-result">
          {% if search.results.size > 0 %}
            {% for item in search.results %}
              <div class="begin_info-items">
                <div class="begin_bedge">{{ item.type }}</div>

                {% if item.featured_image %}
                  <a class="begin-card_image" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                    {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                  </a>
                {% endif %}

                <h2 class="header-card-search">{{ item.title | link_to: item.url }}</h2>

                {% if item.price %}
                  <p>Starting {{ item.price | money }}/mo</p>
                {% endif %}

                <div class="begin_button-wrapper">
                  <a class="button btn-outline is-small is-fullwidth" href="{{ item.url | within: collection }}">Learn more</a>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>

        {% if paginate.pages > 1 %}

          <div class="collections-products_paginate">
            {{ paginate | default_pagination }}
          </div>
        {% endif %}
        
      </div>
    {% endif %}
  {% endpaginate %}
</div>
